h1{
    text-align: center;
    color: beige;
}
#container{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    justify-content: center;
}
.robot{
    height:300px;
    margin:5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: bisque;
}
img{
    text-align: center;
    width:fit-content;
}
h3{
    color: blueviolet;
    margin: 3% auto;
    text-align: center;
}
.robot:hover{
    height: 350px;
    background-color: white;
    transition: .3s;
    margin: 8px;
    box-shadow: 3px 3px 3px 3px grey;
}
body {
  background-color: black;
}
h1 {
  text-align: center;
  color: rgb(241, 241, 58);
}
#container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
}

.robo-heading {
  animation: headingStyle 4s linear infinite;
  animation-delay: 1s;
}

@keyframes headingStyle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}
.robot {
  height: 300px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(162, 163, 89);
  background-color: bisque;
}
img {
  text-align: center;
  width: fit-content;
}

.robot:hover {
  height: 350px;
  background-color: white;
  transition: 0.2s;
  margin: 8px;
  box-shadow: 3px 3px 3px 3px rgb(162, 163, 89);
  padding: 20px;
  color: orange;
  background-image: linear-gradient(to right, yellow, white, yellow);
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.robot {
  width: 30%;
  height: 300px;
  margin: 20px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(162, 163, 89);
  background-color: bisque;
}
img {
  text-align: center;
  width: fit-content;
}

.robot:hover {
  transform: scale(1.02);
  background-color: white;
  transition: 0.2s;
  margin: 8px;
  box-shadow: 0px 0px 15px rgb(162, 163, 89);
}
